{% extends "base.html" %}

{% block title %}Построение кривых разгона по каналам{% endblock %}

{% block content %}
<div class="container">
        <form action="/plotting_acceleration_curves_by_channels" method="POST">
            <div class="row justify-content-center">
                <h4 class="text-center mb-4">Введите данные для кривой разгона по каналу управления:</h4>
                <div class="col-auto my-2">
                    <label class="form-label">t, сек:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_0" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_1" value="10" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2" value="20" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_3" value="30" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_4" value="40" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_5" value="50" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_6" value="60" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_7" value="70" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_8" value="80" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_9" value="90" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_10" value="100" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_11" value="110" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_12" value="120" required>
                </div>
            </div>


            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">∆Q, %:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_0" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_1" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_2" value="1.75" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_3" value="7.5" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_4" value="15" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_5" value="20" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_6" value="23" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_7" value="24.5" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_8" value="25" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_9" value="25" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_10" value="25" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_11" value="25" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_12" value="25" required>
                </div>
            </div>

            <hr class="my-4">

            <div class="row justify-content-center">
                <h4 class="text-center mb-4">Введите данные для кривой разгона по каналу возмущения:</h4>

                <div class="col-auto my-2">
                    <label class="form-label">t, сек:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_0" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_1" value="10" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_2" value="20" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_3" value="30" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_4" value="40" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_5" value="50" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_6" value="60" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_7" value="70" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_8" value="80" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_9" value="90" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_10" value="100" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_11" value="110" required>
                </div>
                <div class="col-auto my-2">
                    <input type="number" min="0" max="550" class="form-control input-field-for-PID" name="xValues_2_12" value="120" required>
                </div>
            </div>

            <div class="row justify-content-center">
                    <div class="col-auto my-2">
                        <label class="form-label">∆Q, %:</label>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_0" value="0" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_1" value="0" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_2" value="0" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_3" value="0" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_4" value="0.5" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_5" value="1.9" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_6" value="4" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_7" value="5.07" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_8" value="5.72" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_9" value="5.98" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_10" value="6" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_11" value="6" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID" name="yValues_2_12" value="6" required>
                    </div>
                </div>

            <hr class="my-4">

            <div class="text-center mb-3 my-2">
                <input type="submit" class="btn btn-primary" value="Выполнить">
            </div>
        </form>

        {% if acceleration_curve_control %}
                <div class="d-flex justify-content-center my-4">
                        {{ acceleration_curve_control | safe }}
                </div>
        {% endif %}

        {% if acceleration_curve_disturbance %}
                <div class="d-flex justify-content-center my-4">
                    {{ acceleration_curve_disturbance | safe }}
                </div>
        {% endif %}

</div>

<script src="{{ url_for('static', filename='js/checking_numbers_11.js') }}"></script>
{% endblock %}