{% extends "base.html" %}

{% block title %}Переходная хар-ка трёх моделей{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">Введите данные для построения переходной характеристики:</h1>
        <form action="/PID_part_2" method="POST">
            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">T1 касательной:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t1_kos" value="40" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">T2 касательной:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t2_kos" value="240" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">T1 Альденбурга-Сарториуса:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t1_aldenb" value="199" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">T2 Альденбурга-Сарториуса:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t2_aldenb" value="166" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">T1 метода Симою:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t1_simou" style="width: 5rem;" value="131.71" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">T2 метода Симою:</label>
                    <input type="text" class="form-control input-field-for-PID" name="t2_simou" style="width: 5rem;" value="7436.27" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">Коэффициент усиления:</label>
                    <input type="text" class="form-control input-field-for-PID" name="k" value="3.5" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">Stop time:</label>
                    <input type="text" class="form-control input-field-for-PID" name="stop_time" style="width: 3.5rem;" value="600" required>
                </div>

                <hr class="my-4">

                <h5 class="text-center mb-4">θ разгонной характеристики:</h5>

                <div class="row justify-content-center">
                    <div class="col-auto my-2">
                        <label class="form-label">θ:</label>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_0" value="0" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_1" value="1" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_2" value="3" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_3" value="8" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_4" value="18" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_5" value="30" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_6" value="44" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_7" value="59" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_8" value="73" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_9" value="85" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_10" value="95" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_11" value="101" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_12" value="104" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_13" value="105" required>
                    </div>
                    <div class="col-auto my-2">
                        <input type="text" class="form-control input-field-for-PID-2" name="yValues_14" value="105" required>
                    </div>
                </div>

                <p class="text-center">Расчёт будет перенаправлен вторую страницу в основной части расчёта одноконтурной
                    АСР (сделано в угоду уменьшения нагрузки на сервер).</p>
                <div class="text-center my-2">
                    <input type="submit" class="btn btn-primary" value="Построить">
                </div>
            </div>
        </form>
    </div>

{% endblock %}