{% extends "base.html" %}

{% block title %}Мат. модель графоаналитическим{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center mb-4">Введите исходные данные:</h1>
        <form method="POST">
            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">T2:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="T2_value" value="1712.0" required>
                </div>

                 <div class="col-auto my-2">
                    <label class="form-label">T1:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="T1_value" value="126.4" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">τ:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="t_value" value="30" required>
                </div>

                 <div class="col-auto my-2">
                    <label class="form-label">k:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="k_value" value="22.9" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">ψ:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="y_value" value="0.7" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">Stop time:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="stop_time" value="2000" required>
                </div>

                <div class="text-center mb-3 my-2">
                    <input type="submit" class="btn btn-primary" value="Построить график">
                </div>
            </div>
        </form>

        {% if image_transmission_funct %}
        <div class="d-flex justify-content-center my-4">
            {{ image_transmission_funct | safe }}
        </div>


        <p class="text-center">Для полученной передаточной функции одним из точных методов рассчитали оптимальные
            настроечные параметры ПИ-регулятора, обеспечивающие получения переходных процессов со степенью затухания
            ψ, не ниже заданной. <b>(Ψ={{ y_value }})</b></p>

        <p class="text-center">Для получения оптимальных настроек ПИ-регулятора воспользуемся методом расширенных
            частотных характеристик</p>

        <p class="text-center">Зная степень затухания, сможем определить степень колебательности:</p>
        <div class="d-flex align-items-center justify-content-center my-3">
            <img src="{{ url_for('static', filename='img/degree_of_oscillation.jpg') }}"
                 class="img-fluid"
                 style="width: 10%;"
                 alt="Степень колебательности">
            <span class="ms-3 fw-bold">= {{ m }}</span>
        </div>

        <p class="text-center">Получим следующий график D-разбиения, по которому будем определять параметры регулятора:</p>
        {% endif %}

        {% if image_D_graph %}
        <div class="d-flex justify-content-center my-4">
            {{ image_D_graph | safe }}
        </div>

        <div class="text-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Значение параметра настройки C0</th>
                        <th>Значение параметра настройки C1</th>
                        <th>Интегральный критерий качества I</th>
                    </tr>
                </thead>

                <tbody>
                    {% for c0, c1, i in coefficients_with_integrals %}
                    <tr>
                        <td>{{ "%.6f"|format(c0|float) }}</td>
                        <td>{{ "%.6f"|format(c1|float) }}</td>
                        <td>{{ "%.3f"|format(i|float) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            {% endif %}

            {% if image_transmission_funct_PI_controller %}
            <p class="text-center">За оптимальные настройки регулятора примем:</p>
            <p>C0 = <b>{{ "%.6f"|format(min_C0|float) }}</b><br>C1 = <b>{{ "%.6f"|format(min_C1|float) }}</b></p>

            <div class="text-center">
                    {{ image_transmission_funct_PI_controller | safe }}
            </div>


            <div class="text-center">
                <p>Оценим качество переходного процесса </p>
                <p>Колебательность равняется:</p>
                <img src="{{ url_for('static', filename='img/colebatelnost.jpg') }}" class="img-fluid mb-2" style="width: 15%;"> {{ first_calculation | round(2)  }} %
                <p>Степень затухания:</p>
                <img src="{{ url_for('static', filename='img/stepen_zatuhania.jpg') }}" style="width: 15%;">{{ second_calculation | round(2) }}
                <p>Длительность переходного процесса <b>t_п = {{ t_p | int }}</b></p>
                <p>Время достижения первого максимума <b>t_М = {{ t_M | int }}</b></p>
            </div>

            {% endif %}
        </div>
    </div>
{% endblock %}