<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">

    <link rel="apple-touch-icon" sizes="60x60" href="{{ url_for('static', filename='img/favicon/apple-icon-60x60.png') }}">
    <link rel="apple-touch-icon" sizes="72x72" href="{{ url_for('static', filename='img/favicon/apple-icon-72x72.png') }}">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ url_for('static', filename='img/favicon/apple-icon-76x76.png') }}">
    <link rel="apple-touch-icon" sizes="114x114" href="{{ url_for('static', filename='img/favicon/apple-icon-114x114.png') }}">
    <link rel="apple-touch-icon" sizes="120x120" href="{{ url_for('static', filename='img/favicon/apple-icon-120x120.png') }}">
    <link rel="apple-touch-icon" sizes="144x144" href="{{ url_for('static', filename='img/favicon/apple-icon-144x144.png') }}">
    <link rel="apple-touch-icon" sizes="152x152" href="{{ url_for('static', filename='img/favicon/apple-icon-152x152.png') }}">
    <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-icon-180x180.png') }}">
    <link rel="icon" type="image/png" sizes="192x192" href="{{ url_for('static', filename='img/favicon/android-icon-192x192.png') }}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
    <link rel="icon" type="image/png" sizes="96x96" href="{{ url_for('static', filename='img/favicon/favicon-96x96.png') }}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
    <link rel="manifest" href="{{ url_for('static', filename='img/favicon/manifest.json') }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ url_for('static', filename='img/favicon/ms-icon-144x144.png') }}">
    <meta name="theme-color" content="#ffffff">

    <title>{% block title %}{% endblock %}</title>
</head>

<body>
    <div class="container">
      <header class="d-flex flex-wrap justify-content-between py-3 mb-4 border-bottom">
        <div class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
          <img src="{{ url_for('static', filename='img/automatization.png') }}" alt="ASTU Logo" width="32" height="32">
            <span class="fs-4"><a href="/" style="color: black; text-decoration:none;">Программный комплекс автоматизации котла</a></span>
        </div>

        <ul class="nav nav-pills">
          <li class="nav-item">
            <div class="btn-group">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                ПИД-регулятор
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/pulse_and_acceleration_characteristics">Импульсная и разгонная хар-ка</a>
                <a class="dropdown-item" href="/SIMOU">Метод Симою</a>
                <a class="dropdown-item" href="/step_response_of_three_models">Переходная характеристика трёх моделей</a>
                <a class="dropdown-item" href="/construction_of_parameter_plane">Построение плоскости параметров</a>
                <a class="dropdown-item" href="/most_identical_transient_process">Наиболее идентичный пер. процесс</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="/PID_part_1">Полный расчёт</a>
              </div>
            </div>
          </li>
          <li class="nav-item"><a href="#" class="nav-link">ПИ-регулятор</a></li>
          <li class="nav-item"><a href="/SIMOU" class="nav-link">Симою</a></li>
          <li class="nav-item"><a href="#" class="nav-link">Комбинированная система</a></li>
          <li class="nav-item"><a href="#" class="nav-link">КВ-ГМ-100</a></li>
        </ul>
      </header>
    </div>

    {% block content %}{% endblock %}

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-md-3 text-center">
            <span class="text-muted">
              <a href="https://github.com/KnightOfMelons">О разработчике</a>
              <img src="{{ url_for('static', filename='img/github_black_logo_icon_147128.png') }}" alt="GitHub Logo" class="img-fluid" style="max-width: 24px; max-height: 24px;"> |
              <a href="https://astu.org/Content/PageChair/3577?utm_source=google.com&utm_medium=organic&utm_campaign=google.com&utm_referrer=google.com">Кафедра АиУ</a>
              <img src="{{ url_for('static', filename='img/astu_logo.png') }}" alt="ASTU Logo" class="img-fluid" style="max-width: 24px; max-height: 24px;">
            </span>
            <br>
            <span class="text-muted">© 2024 Все права защищены. <a href="mailto:info@example.com">info@example.com</a></span>
          </div>
        </div>
      </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>