{% extends "base.html" %}

{% block title %}КВГМ-100{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <h2>Основные сведения о технологическом объекте</h2>
        <h5>Общие сведения о технологическом процессе</h5>
        <p>Водогрейный котел – устройство, имеющее топку, обогреваемое продуктами сжигаемого в ней топлива, и
            предназначенное для нагревания воды, находящейся под давлением выше атмосферного и используемой в качестве
            теплоносителя вне самого устройства.</p>
        <p>Теплота, вырабатываемая водогрейными котлами, используется на нужды отопления, вентиляции и горячего
            водоснабжения, а также может использоваться на различные технологические нужды.</p>
        <p>Максимальная температура воды на выходе из котлов в зависимости от их тепло производительности может
            составлять 95, 115, 150 и 200 ºC.</p>
        <p>Все водогрейные котлы можно разделить на газотрубные и водотрубные. По материалу, из которого изготовлены
            водогрейные котлы, их можно разделить на стальные и чугунные. Чугунные котлы отличаются большей коррозионной
            стойкостью.</p>
        <p>По характеру циркуляции воды (независимо от конструкции) все водогрейные котлы являются прямоточными.</p>
        <p>Водогрейный котел состоит из топочного устройства и тепловоспринимающих поверхностей, которые для водотрубных
            котлов делятся на топочные экраны, выполненные из отдельных панелей, представляющих собой ряд параллельно
            включенных труб, объединенных входными и выходными коллекторами, и конвективные поверхности нагрева, в
            большинстве случаев набираемые из змеевиков.</p>
        <h5>Устройство водогрейного котла КВГМ-100</h5>
        <p>Водогрейные котлы, выпускаемые Дорогобужским котлостроительным заводом, предназначены для установки на ТЭЦ
            в целях покрытия пиковых тепловых нагрузок и в качестве основного источника теплоснабжения в районных
            отопительных котельных.</p>

        <p>Основные характеристики котла приведены ниже.</p>

        <div class="col-md-8">
                <table class="table table-bordered table-striped mt-4">
                    <thead>
                        <tr>
                            <th>Наименование параметра</th>
                            <th>Единица измерения</th>
                            <th>Значение</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Расход расчетного топлива</td>
                            <td>кг/ч</td>
                            <td>11500</td>
                        </tr>
                        <tr>
                            <td>Сопротивление газового потока</td>
                            <td>мм.вод.ст</td>
                            <td>120</td>
                        </tr>
                        <tr>
                            <td>Тепло производительность</td>
                            <td>Гкал/ч</td>
                            <td>100</td>
                        </tr>
                        <tr>
                            <td>Расход воды</td>
                            <td>т/ч</td>
                            <td>51.46</td>
                        </tr>
                        <tr>
                            <td>Температура нагрева воды на входе</td>
                            <td>°C</td>
                            <td>70-100</td>
                        </tr>
                        <tr>
                            <td>Температура нагрева воды на выходе</td>
                            <td>°C</td>
                            <td>150</td>
                        </tr>
                        <tr>
                            <td>Рабочее давление воды</td>
                            <td>кгс/см2</td>
                            <td>25</td>
                        </tr>
                    </tbody>
                </table>
        </div>

        <p>Условное обозначение котлов выглядит следующим образом: КВГМ-100, где К – котел; В – водогрейный;
            ГМ – газомазутный; цифра после буквенного обозначения показывает тепло производительность котла,
            Гкал/ч.</p>

        <p>Котел – прямоточный, имеет П-образную компоновку. Топочная камера экранирована трубами Д = (60х3)
            мм с шагом 64 мм, входящими в камеры Д = (273х11) мм. Состоит из фронтового, двух боковых и промежуточного
            экранов. Конвективная поверхность нагрева котла состоит из трех пакетов, расположенных в вертикальной,
            полностью экранированной шахте. Набирается из u-образных ширм трубами Д = (28х3) мм с шагом 64 мм.
            Боковые стенки конвективной шахты покрыты трубами Д = 8х3 и 3,5 мм с шагом 128 мм и являются одновременно
            стояками конвективных ширм. Конвективные поверхности дополнительно
            экранированы боковыми и задними панелями.</p>

        <div class="col-md-8 d-flex align-items-center justify-content-center my-3">
            <img src="{{ url_for('static', filename='img/drawing_of_water_heating_boiler_KVGM100.jpg') }}"
                 class="img-fluid"
                 style="width: 70%;">
        </div>

        <p>Конвективная поверхность нагрева расположена в вертикальном, полностью экранированном газоходе, состоит
            из U-образных ширм из труб диаметром 28х3 мм. Несущий каркас у котла отсутствует. Каждый блок
            (конвективный и топочный) имеет опоры, приваренные к нижним коллекторам. Опоры, расположенные на
            стыке конвективного блока и топочной камеры, неподвижны.</p>

        <p>Во время работы на мазуте котлы КВ-ГМ-100 должны включаться по прямоточной схеме: вода подводится к
            поверхностям нагрева топочного блока, отводится из конвективных поверхностей нагрева.</p>

        <p>При работе только на газомазутном топливе включение котлов по воде выполняется по противоточной схеме: вода
            подводится в конвективные поверхности нагрева, отводится из поверхностей нагрева топочного блока.</p>

        <p>Котлы имеют облегченную натрубную обмуровку, поставляются без обшивки. Обмуровочные и изоляционные материалы
            в комплект поставки не входят. Оборудуются тремя газомазутными горелками типа РГМГ-30, устанавливающаяся
            на воздушном коробе котла, который крепится на фронтовом экране к вертикальным коллекторам.</p>

        <p>По согласованию котлы могут быть оборудованы любыми зарубежными или отечественными газовыми горелками
            соответствующей производительности.</p>

        <h2>Комбинированная система автоматического регулирования процесса горения в топке котла КВГМ-100</h2>
        <h5>Анализ технологического процесса как объекта управления</h5>

        <p>Для разработки системы управления, а также обоснования предварительно принятых предложений по повышению
            эффективности управления необходимо провести анализ котельного агрегата
            КВ-ГМ-100 как объекта управления.</p>

        <p>Основные входные и выходные величины объекта управления с выделением регулируемых, регулирующих
            и возмущающих воздействий водогрейного котла КВ-ГМ-100 приведены на рисунке ниже.</p>

        <div class="col-md-8 d-flex align-items-center justify-content-center my-3">
            <img src="{{ url_for('static', filename='img/control_object.jpg') }}"
                 class="img-fluid"
                 style="width: 50%;">
        </div>

        <h6>Основные регулируемые параметры:</h6>
        <p>-	Pт. – разрежение в топке. Разрежение в топке обеспечивает поступление воздуха, необходимого для
            горения газового топлива, а также не допускает выброс дымовых газов через неплотности топки. Изменение
            разрежения влияет на качество процесса горения и на работу котла в целом. Параметр необходимо
            стабилизировать на заданном уровне, обеспечить дистанционный контроль, сигнализацию по нижнему пределу;</p>

        <p>-	Тс.в. – температура сетевой воды на выходе котла. Параметр необходимо стабилизировать на заданном
            уровне, обеспечить дистанционный контроль, сигнализацию по верхнему и нижнему пределам, останов котла
            и сброс пара при недопустимом превышении температуры;</p>

        <p>-	Qд.г. – концентрация кислорода в дымовых газах. Этот параметр зависит от соотношения топливный
            газ/воздух и служит индикатором оптимальности процесса горения и топливной экономичности котла.
            Параметр необходимо стабилизировать на заданном уровне, обеспечить дистанционный контроль, сигнализацию
            по верхнему и нижнему пределам;</p>

        <h6>Основные регулирующие воздействия:</h6>

        <p>-	Fв – расход воздуха в топку с помощью шибера на линии подачи воздуха в горелки. Является регулирующим
            воздействием для концентрации O2 в дымовых газах.</p>

        <p>-	Fд.г. – расход дымовых газов регулированием сопротивления в дымоходе шибером. Является регулирующим
            воздействием для разряжения в топке котла;</p>

        <p>-	Fт.г – расход топливного газа на входе в горелку для регулирования температуры сетевой воды
            на выходе из котла.</p>

        <h6>Основные возмущающие воздействия:</h6>

        <p>-	Тисх.в. – температура питательной воды. Влияет на температуры воды на выходе, является несущественным
            контролируемым возмущением, так как температура питательной воды регулируется системой подготовки
            питательной воды;</p>

        <p>-	Pт.г – давление топливного газа. Влияет на расход топливного газа и, затем, температуру воды на выходе.
            Является существенным контролируемым возмущением, действующим по каналу регулирующего воздействия
            Fт.г . Целесообразно построения комбинированной системы регулирования.</p>

        <p>Таким образом, в системе автоматизации реализуются следующие основные контуры регулирования:</p>

        <p>-	комбинированная система регулирования температуры воды на выходе из котла со стабилизацией расхода
            топливного газа на входе в горелку и компенсацией возмущения по изменению давления топливного газа
            на входе в горелку;</p>

        <p>-	комбинированная система регулирования процесса сгорания топлива со стабилизацией концентрации кислорода
            в дымовых газах и компенсацией возмущения по изменению расхода топливного газа;</p>

        <p>-	одноконтурная система регулирования разрежения в топке котла.</p>

        <h6>Параметры контроля и регистрации:</h6>
        <p>-	расход воды на выходе из котла;</p>
        <p>-	температура дыма на выходе их котла;</p>
        <p>-	расход воды перед сетевым насосом;</p>
        <p>-	температура воды на входе в сетевой насос;</p>
        <p>-	расход топливного газа на входе в горелку;</p>
        <p>-	расход воздуха на входе в горелку;</p>
        <p>-	разрежение в котле;</p>
        <p>-	давление топливного газа на входе в горелку;</p>
        <p>-	температура воды на выходе из котла;</p>
        <p>-	температура воды на входе в котел;</p>
        <p>-	концентрация кислорода в дымовом газе.</p>

        <h6>Параметры сигнализации:</h6>

        <p>-	отсутствие пламени в горелке (L);</p>
        <p>-	температура воды на выходе из котла (HL);</p>
        <p>-	давление в котле (HL);</p>
        <p>-	давление топливного газа на входе в котел (L);</p>
        <p>-	давление воздуха на входе в котел (L).</p>

        <h6>Параметры блокировки:</h6>

        <p>-	отсутствие пламени в горелке (L). Производится закрытие отсечных клапанов подачи топливного газа,
            воздуха в горелку, также закрытие отсечных клапанов подачи сетевой воды в котел, и на выходе из котла;</p>

        <p>-	разрежение в котле (HL). При низком давление производиться закрытие отсечных клапанов подачи топливного
            газа и воздуха в горелку, также закрытие отсечных клапанов подачи сетевой воды в котел, и на выходе из
            котла. Если же давление высокое, то открывается аварийный клапан подачи дымового газа
            на выходе из котла;</p>

        <p>-	 давление топливного газа на входе в горелку (L). Производиться закрытие отсечных клапанов подачи
            топливного газа и воздуха в горелку, также закрытие отсечных клапанов подачи сетевой воды в котел,
            и на выходе из котла;</p>

        <p>-	температура вод на выходе из котла (L). Производится закрытие отсечных клапанов подачи топливного
            газа и воздуха в горелку, а также закрытие отсечных клапанов подачи сетевой воды в котел.</p>

        <h6>Дистанционное ручное управление:</h6>

        <p>-	все регулирующие и отсечные клапана.</p>
    </div>
</div>
{% endblock %}