{% extends "base.html" %}

{% block title %}Кривая равной степени колебательности{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center mb-4">Введите данные для построения кривой равной степени колебательности:</h1>
        <form method="POST" action="/equal_degree_of_vibration_curve">
            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">T2:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="T2_value" style="width: 5rem;" value="1712.0" required>
                </div>

                 <div class="col-auto my-2">
                    <label class="form-label">T1:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="T1_value" value="126.4" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">τ:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="t_value" value="30" required>
                </div>

                 <div class="col-auto my-2">
                    <label class="form-label">k:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="k_value" value="22.9" required>
                </div>

                <hr class="my-4">

                <h5 class="text-center">Ограничение области графика (кривой равной степени колебательности):</h5>

                <div class="col-auto my-2">
                    <label class="form-label">x мин.:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="x_min" value="0" style="width: 4rem;" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">x макс.:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="x_max" value="0.2" style="width: 4rem;" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">y мин.:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="y_min" value="0" style="width: 4rem;" required>
                </div>

                <div class="col-auto my-2">
                    <label class="form-label">y макс.:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="y_max" value="0.002" style="width: 4rem;" required>
                </div>

                <hr class="my-4">

                <div class="text-center mb-3 my-2">
                    <input type="submit" class="btn btn-primary" value="Построить график">
                </div>
            </div>
        </form>

        {% if image_D_graph %}
        <p class="text-center">Получим следующий график D-разбиения, по которому будем определять параметры регулятора:</p>
        <div class="d-flex justify-content-center my-4">
            {{ image_D_graph | safe }}
        </div>

        <div class="text-center">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Значение параметра настройки C0</th>
                        <th>Значение параметра настройки C1</th>
                        <th>Интегральный критерий качества I</th>
                    </tr>
                </thead>

                <tbody>
                    {% for c0, c1, i in coefficients_with_integrals %}
                    <tr>
                        <td>{{ "%.6f"|format(c0|float) }}</td>
                        <td>{{ "%.6f"|format(c1|float) }}</td>
                        <td>{{ "%.3f"|format(i|float) }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            <p class="text-center">За оптимальные настройки регулятора примем:</p>
            <p>C0 = <b>{{ "%.6f"|format(min_C0|float) }}</b><br>C1 = <b>{{ "%.6f"|format(min_C1|float) }}</b></p>
            <button type="button" class="btn btn-warning mb-2"><a style="text-decoration: none; color: black;" href="/api/data">API</a></button>
            {% endif %}
        </div>
    </div>

<script src="{{ url_for('static', filename='js/checking_numbers_6.js') }}"></script>
{% endblock %}