{% extends "base.html" %}

{% block title %}Одноконтурная АСР{% endblock %}

{% block content %}

    <div class="container">
        <h1 class="text-center mb-4">Введите исходные данные:</h1>
        <form action="/" method="POST">
            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">T:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_0" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_1" value="20" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_2" value="40" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_3" value="60" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_4" value="80" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_5" value="100" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_6" value="120" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_7" value="140" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_8" value="160" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_9" value="180" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_10" value="200" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_11" value="220" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_12" value="240" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_13" value="260" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_14" value="280" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_15" value="300" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="xValues_16" value="320" required>
                </div>
            </div>

            <hr class="my-4">

            <div class="row justify-content-center">
                <div class="col-auto my-2">
                    <label class="form-label">Ø:</label>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_0" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_1" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_2" value="0" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_3" value="1" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_4" value="2" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_5" value="5" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_6" value="10" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_7" value="12" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_8" value="14" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_9" value="15" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_10" value="14" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_11" value="12" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_12" value="10" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_13" value="6" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_14" value="3" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_15" value="1" required>
                </div>
                <div class="col-auto my-2">
                    <input type="text" class="form-control input-field-for-PID" name="yValues_16" value="0" required>
                </div>
            </div>

            <br>

            <div class="text-center mb-3">
                <input type="submit" class="btn btn-primary" value="Построить график">
            </div>
        </form>
    </div>

{% endblock %}